.left{
    float: left;
}
.right{
    float: right;
}
.cb {
    clear: both;
}
#crest {
    height: 110px;
}
.ajaxSpinner {
    background-image: url('/images/ajaxSpinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.tm20 {
    margin-top: 20px;
}