{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="left">{{ team.name }}</h2>
    <img id="crest" class="right" src="{{ team.crestUrl }}" alt="{{ team.name }}"/>
    {% include 'default/partials/resultsTable.html.twig' %}
{% endblock %}