{% extends 'base.html.twig' %}

{% block body %}
    <p>Choose a league and submit to see the most recent match day fixtures and historical data.</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
